{% load static %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow" style="top:0; z-index: 1000; width: 100%; position: sticky">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                {% comment %} <img src="{% static 'img/promptlab-logo-light.png' %}" alt="PromptLab Logo" height="30" class="d-inline-block align-top me-2"> {% endcomment %}
                PromptLab
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto align-items-center">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if user.socialaccount_set.exists %}
                                    {% with account=user.socialaccount_set.all.0 %}
                                        <img src="{{ account.get_avatar_url }}" alt="{{ user.username }}" class="rounded-circle me-2" width="32" height="32">
                                    {% endwith %}
                                {% else %}
                                    <img src="{% static 'img/user_placeholder.jpg' %}" class="rounded-circle me-2" width="32" height="32">
                                {% endif %}
                                {% if user.first_name and user.last_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="{% url 'prompt:user_prompts_list' %}">My Prompts</a></li>
                                <li><a class="dropdown-item" href="{% url 'prompt:my_datasets' %}">My Assigned Datasets</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#openRouterApiModal">OpenRouter API Settings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Prompting Projects
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="projectsDropdown">
                                <li><a class="dropdown-item" href="{% url 'prompt:project_list' %}">My Projects</a></li>
                                <li><a class="dropdown-item" href="{% url 'prompt:project_create' %}">Create New Project</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-light me-2" href="{% url 'account_login' %}">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" href="{% url 'account_signup' %}">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}