{% extends "base/base.html" %}
{% block main_content %}

    <div id="prompts-list" class="container">
        <h4 class="my-4"> Prompts created for dataset: <a href="{{dataset.huggingface_link}}" target="_blank">{{dataset}}</a> </h4>

        <div class="text-center my-4">
            <p class="h6 my-4">
                <a href="{% url 'prompt:task_list' %}" class="h6 my-4">
                    Go back to tasks
                </a>
            </p>
        </div>

    <!-- Tabs navigation -->
        <ul class="nav nav-tabs" id="promptTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="my-prompts-tab" data-bs-toggle="tab" href="#my-prompts" role="tab" aria-controls="my-prompts" aria-selected="true">My Prompts</a>
            </li>
            {% if request.user.is_modirator %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="submitted-prompts-tab" data-bs-toggle="tab" href="#submitted-prompts" role="tab" aria-controls="submitted-prompts" aria-selected="false">Submitted Prompts to Review</a>
                </li>
            {% endif %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="all-prompts-tab" data-bs-toggle="tab" href="#all-prompts" role="tab" aria-controls="all-prompts" aria-selected="false">All Prompts</a>
            </li>
        </ul>
        <div class="tab-content" id="promptTabsContent">
            <div class="tab-pane fade show active" id="my-prompts" role="tabpanel" aria-labelledby="my-prompts-tab">
            <!-- My Prompts Table -->
                <table class="my-4 table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 10%;">#</th>
                            <th scope="col" style="width: 15%;">Name</th>
                            <th scope="col" style="width: 15%;">Dataset Subset</th>
                            <th scope="col" style="width: 20%;">Created On</th>
                            <th scope="col" style="width: 15%;">Status</th>
                            <th scope="col" style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prompt in user_prompts %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <td>
                                    <a href="{% url 'prompt:prompt_update' dataset_pk=dataset.pk pk=prompt.pk %}">
                                        <span class="prompt-name">{{ prompt.name }}</span>
                                    </a>
                                </td>
                                <td> {{ prompt.dataset_subset }} </td>
                                <td>{{ prompt.created_on }}</td>
                                <td>{{ prompt.status }}</td>
                                <td class="text-center">
                                    {% if prompt and prompt.updateable %}
                                        <a class="text-danger" href="#" onclick="if (confirm('Are you sure you want to delete this prompt?')) { window.location.href = '{% url 'prompt:prompt_delete' dataset_pk=dataset.pk pk=prompt.pk %}'; } return false;">
                                            delete
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if request.user.is_modirator %}
                <div class="tab-pane fade" id="submitted-prompts" role="tabpanel" aria-labelledby="submitted-prompts-tab">
            <!-- Submitted Prompts to Review Table -->
                    <table class="my-4 table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 10%;">#</th>
                                <th scope="col" style="width: 15%;">Name</th>
                                <th scope="col" style="width: 15%;">Dataset Subset</th>
                                <th scope="col" style="width: 15%;">Created By</th>
                                <th scope="col" style="width: 20%;">Created On</th>
                                <th scope="col" style="width: 15%;">Status</th>
                            {% comment %} <th scope="col" style="width: 10%;"></th> {% endcomment %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for prompt in prompts_to_review %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>
                                        <a href="{% url 'prompt:prompt_review' dataset_pk=dataset.pk prompt_pk=prompt.pk %}">
                                            <span class="prompt-name">{{ prompt.name }}</span>
                                        </a>
                                    </td>
                                    <td> {{ prompt.dataset_subset }} </td>
                                    <td>{{ prompt.created_by }}</td>
                                    <td>{{ prompt.created_on }}</td>
                                    <td>{{ prompt.status }}</td>
                                {% comment %} <td></td> {% endcomment %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <div class="tab-pane fade" id="all-prompts" role="tabpanel" aria-labelledby="all-prompts-tab">
            <!-- All Prompts Table -->
                <table class="my-4 table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 10%;">#</th>
                            <th scope="col" style="width: 15%;">Name</th>
                            <th scope="col" style="width: 15%;">Dataset Subset</th>
                            <th scope="col" style="width: 15%;">Created By</th>
                            <th scope="col" style="width: 20%;">Created On</th>
                            <th scope="col" style="width: 15%;">Status</th>
                            {% comment %} <th scope="col" style="width: 10%;"></th> {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for prompt in all_prompts %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <td>
                                    <a {% if not prompt.updateable %} href="{% url 'prompt:prompt_review' dataset_pk=dataset.pk prompt_pk=prompt.pk %}" {% else %} title="prompt still under design" {% endif %}>
                                        <span class="prompt-name">{{ prompt.name }}</span>
                                    </a>
                                </td>
                                <td> {{ prompt.dataset_subset }} </td>
                                <td>{{ prompt.created_by }}</td>
                                <td>{{ prompt.created_on }}</td>
                                <td>{{ prompt.status }}</td>
                                {% comment %} <td></td> {% endcomment %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    <!-- Utilize Bootstrap grid system to align the button to the right -->
        <div class="row">
            <div class="col text-end">
                <a id="create-prompt-btn" class="btn btn-primary" href="{% url 'prompt:prompt_create' dataset_pk=dataset.pk %}">
                    <span id="btn-text">Create New Prompt</span>
                    <span id="spinner" class="spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true" style="display:none;"></span>
                </a>
            </div>
            <span class="text-muted text-end my-2" id="loadingHelper" style="display:none;">Some datasets may take a while to load...</span>
        </div>
        <script>
            window.onpageshow = function(event) {
                if (event.persisted) {
                    window.location.reload();
                }
            };
            document.getElementById('create-prompt-btn').addEventListener('click', function(event) {
                event.preventDefault();  // Prevent the default action
                var button = this;
                var spinner = document.getElementById('spinner');

            // Show spinner and disable button
                spinner.style.display = 'inline-block';
                button.classList.add('disabled');
                button.style.pointerEvents = 'none';

                var textHelper = document.getElementById('loadingHelper');
                textHelper.style.display = 'inline-block';

            // Redirect to the href of the button after showing the spinner
                window.location.href = button.href;
            });
        </script>
        {% include 'base/pagination.html' with target_id="prompts-list" %}
    </div>
{% endblock %}
