{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block style %}
    <style>
        .fixed-sidebar {
            position: fixed;
            top: 60px; /* Adjust this value based on your header height */
            left: 0;
            width: 350px; /* Adjust this value based on your sidebar width */
            height: calc(100vh - 60px); /* Adjust this value based on your header height */
            overflow-y: auto;
            background-color: #ffffff; /* White background */
            color: #000000; /* Black text color */
            border-right: 2px solid #ddd; /* Bold border line on the right side */
            box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05); /* Small shadow effect */
            padding: 5px; /* Add some padding for inner content */
            transition: transform 0.3s ease;
        }

        .fixed-sidebar.closed {
            transform: translateX(-310px);
            overflow-y: hidden;
        }

        .sidebar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .sidebar-toggle {
            background-color: #fff;
            border: none;
            color: #000;
            cursor: pointer;
            border-radius: 4px;
            padding: 5px 10px;
        }

        .main-content {
            margin-left: 350px; /* Adjust this value based on your sidebar width and padding */
            padding: 20px;
            transition: margin-left 0.3s ease;
        }

        .main-content.full-width {
            margin-left: 50px; /* Adjust to the width of the minimized sidebar */
            transition: margin-left 0.3s ease;
        }

        .fixed-sidebar h4 {
            color: #2c3e50; /* Dark color for header text */
        }

        .fixed-sidebar hr {
            border: 1px solid #ddd;
            margin: 10px 0;
        }

        .fixed-sidebar .nav-link {
            color: #000000; /* Black color for links */
            transition: color 0.3s ease;
        }

        .fixed-sidebar .nav-link:hover {
            color: #2c3e50; /* Darker color on hover */
        }

        .spinner-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .spinner-text {
            margin-left: 10px;
        }

        .half-width {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }

        .full-width {
            width: 100%;
            display: inline-block;
        }

        .template-result {
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #f9f9f9;
            margin-left: 1%;
            width: 48%;
            display: inline-block;
            vertical-align: top;
            opacity: 0;
            position: relative; /* To position the spinner absolutely */
        }

        .template-result.visible {
            opacity: 1;
        }

        .template-result.hidden {
            display: none;
        }

        .template-result-spinner {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .template-result-spinner.visible {
            display: block;
        }

        .close-btn {
            display: block;
            text-align: right;
            cursor: pointer;
        }

        .apply-spinner {
            display: none;
            margin-left: 10px;
        }

        .apply-spinner.visible {
            display: inline-block;
        }
    </style>
{% endblock style %}

{% block main_content %}
    {% block html_content %}
        <div class="container-fluid w-85">
            <div class="row">
                {% block left_sidebar %}
                    <div class="fixed-sidebar" id="sidebar">
                        <div class="sidebar-header">
                            <h4 class="pt-2">Dataset Information</h4>
                            <button class="sidebar-toggle" id="toggleSidebar">☰</button>
                        </div>
                        <hr>
                        <div class="card-body" hx-get="{% url 'prompt:dataset_details' dataset.pk %}?subset={{ object.dataset_subset }}" hx-trigger="load" hx-target="#dataset-details" hx-indicator="#sidebar-spinner">
                            <div id="sidebar-spinner">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="spinner-border text-secondary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <p>Loading...</p>
                                </div>
                            </div>
                            <div
                                id="dataset-details"
                                style="margin-right: 10px; margin-left:5px; padding-right: 10px; padding-left:5px;"
                            >
                            </div>
                        </div>
                    </div>
                {% endblock %}
                <!-- Main Content -->
                <div class="main-content col" id="mainContent">
                    {% block prompt_template_content %}
                        <div class="accordion" id="instructionsAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #f8f9fa;">
                                        <h4 style="margin: 0;">Creating Diverse Prompts for dataset: {{dataset}}</h4>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#instructionsAccordion">
                                    <div class="accordion-body">
                                        <p>
                                            Creating a diverse set of prompts whose differences go beyond surface wordings (i.e., marginally changing 2 or 3 words) is highly encouraged.
                                            Ultimately, the hope is that exposing the model to such a diversity will have a non-trivial impact on the model's robustness to the prompt formulation.
                                        </p>
                                        <p>
                                            <strong>To get various prompts, you can try moving the cursor along these axes:</strong>
                                        </p>
                                        <ul>
                                            <li>
                                                <strong>Interrogative vs affirmative form:</strong> Ask a question about an attribute of the inputs or tell the model to decide something about the input.
                                            </li>
                                            <li>
                                                <strong>Task description localization:</strong> Where is the task description blended with the inputs? In the beginning, in the middle, at the end?
                                            </li>
                                            <li>
                                                <strong>Implicit situation or contextualization:</strong> How explicit is the query? For instance, <em>Given this review, would you buy this product?</em> is an indirect way to ask whether the review is positive.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card my-4">
                            <div class="card-body">
                                <form id="promptForm" method="POST">
                                    {% csrf_token %}
                                    <div class="row justify-content-center">
                                        <div class="mb-3 col-12 full-width" id="templateFieldContainer">
                                            {{ form.name|as_crispy_field }}
                                            {{ form.answer_choices|as_crispy_field }}
                                            {% include 'prompt/partials/prompt_tagified_textarea.html' %}
                                            {{ form.template|as_crispy_field }}
                                            {{ form.dataset_subset }}
                                            {{ form.text_direction }}
                                        </div>
                                        <div class="template-result hidden rounded" id="templateResultContainer">
                                            <div class="close-btn" id="closeTemplateResult">✖</div>
                                            <div id="mergeTemplateResult"></div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="merge_template" id="mergeTemplateInput" value="false">
                                    <div class="row my-2">
                                        <div class="col col-6">
                                            {% if prompt.review_decisions %}
                                                <span>
                                                    this prompt has been reviewed.
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        See full review history
                                                    </a>
                                                </span>
                                                {% include 'prompt/partials/review_history_modal.html' with reviews=prompt.review_decisions.all %}
                                                {% if prompt.review_decisions.last.reviewer_comment %}
                                                    <hr>
                                                    <p>
                                                        <u>Latest reviewer comment:</u>
                                                        <p>
                                                            {{ prompt.review_decisions.last.reviewer_comment }}
                                                        </p>
                                                    </p>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="col col-6 text-end">
                                            <button type="button" class="btn btn-outline-primary" id="applyButton">
                                                Apply Template
                                                <span id="apply-spinner" class="spinner-border spinner-border-sm apply-spinner" role="status" aria-hidden="true"></span>
                                            </button>
                                            {% if prompt.updateable %}
                                                <button type="submit" name="submit" value="save_draft" class="btn btn-outline-primary">
                                                    <span>Save</span>
                                                    <span class="spinner spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true" style="display:none;"></span>
                                                </button>
                                                <button type="submit" name="submit" value="submit_for_review" class="btn btn-success">
                                                    <span >Submit for review</span>
                                                    <span class="spinner spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true" style="display:none;"></span>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock html_content %}

    <script>
        window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
        $(document).ready(function() {
            $('#toggleSidebar').on('click', function() {
                $('#sidebar').toggleClass('closed');
                $('#mainContent').toggleClass('full-width');
            });

            $('#closeTemplateResult').on('click', function() {
                $('#templateResultContainer').removeClass('visible').addClass('hidden');
                $('#templateFieldContainer').removeClass('half-width').addClass('full-width');
            });

            $('#applyButton').on('click', function() {
                promptText = $('#tagifyTextarea').val();
                promptTemplate = promptText.replace(/\[\[.*?\]\]/g, replaceTagsWithJinjaBrackets);
                text_direction = document.getElementById('directionSwitcher').value;
                answer_choices = $('#id_answer_choices').val();
                $('#apply-spinner').addClass('visible');
                let split = $('#splitDropdown').text().trim();
                let subset = $('#subsetDropdown').text().trim();
                htmx.ajax('POST', `{% url 'prompt:apply_template' dataset.pk %}?split=${split}&subset=${subset}&text_direction=${text_direction}`, {
                    target: '#mergeTemplateResult',
                    swap: 'innerHTML',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    values: {
                        'template': promptTemplate,
                        'answer_choices': answer_choices,
                    }
                }).then(function() {
                    $('#apply-spinner').removeClass('visible');
                    $('#templateFieldContainer').removeClass('full-width').addClass('half-width');
                    $('#templateResultContainer').removeClass('hidden').addClass('visible');
                });
            });

            $(document).on('htmx:beforeRequest', function(event) {
                if ($(event.target).is('#promptForm')) {
                    $('#apply-spinner').addClass('visible');
                }
            });

            $(document).on('htmx:afterRequest', function(event) {
                if ($(event.target).is('#promptForm')) {
                    $('#apply-spinner').removeClass('visible');
                }
                if ($(event.target).attr('hx-get')){
                    if ($(event.target).attr('hx-get').includes("{% url 'prompt:dataset_details' dataset.pk %}")) {
                        $('#sidebar-spinner').hide();
                    }
                }
            });

            // Handle htmx request error
            $(document).on('htmx:responseError', function(event) {
                if ($(event.target).attr('hx-get')){
                    if ($(event.target).attr('hx-get').includes("{% url 'prompt:dataset_details' dataset.pk %}")) {
                        $('#sidebar-spinner').hide();
                        $('#dataset-details').html('<div class="alert alert-danger" role="alert">Failed to load dataset details. Please try again later.</div>');
                    }
                }
            });

            // Function to replace the [[..]] object
            const replaceTagsWithJinjaBrackets = (match) => {
                // Parse the JSON inside [[..]]
                const jsonArray = JSON.parse(match.slice(2, -2));
                const value = jsonArray.value;
                {% verbatim %}
                return `{{${value}}}`;
                {% endverbatim %}
            };

            // set dataset_subset from subset element before submission
            $('#promptForm').on('submit', function(event) {
                if ($('#subsetDropdown').length) {
                    let subset = $('#subsetDropdown').text().trim();
                    $('#id_dataset_subset').val(subset);
                }
                text_direction = document.getElementById('directionSwitcher').value;
                promptText = $('#tagifyTextarea').val();
                promptTemplate = promptText.replace(/\[\[.*?\]\]/g, replaceTagsWithJinjaBrackets);
                $('#id_template').val(promptTemplate)
                $("#id_text_direction").val(text_direction);
                // get closest spinner to $(this)
                var submitButton = $(event.originalEvent.submitter);
                var submitSpinner = $(event.originalEvent.submitter).children('.spinner')[0];
                // Show spinner and disable button
                submitSpinner.style.display = 'inline-block';
                // add class disabled to submitButton
                submitButton.addClass('disabled');
                submitButton.css('pointer-events', 'none');

                // for button in form.text-end div, make them disabled with pointer-events none
                submitButtons = $(this).find('.text-end button');
                for (var i = 0; i < submitButtons.length; i++) {
                    submitButtons[i].classList.add('disabled');
                    submitButtons[i].style.pointerEvents = 'none';
                }

                return true;
            });

        });
    </script>
{% endblock %}
