{% extends 'prompt/prompt_create_update.html' %}
{% load crispy_forms_tags %}

{% block prompt_template_content %}
    <div class="card">
        <div class="card-body">
            <form id="promptForm" method="POST">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="mb-3 col-12 full-width" id="templateFieldContainer">
                        {{ form.name|as_crispy_field }}
                        {{ form.answer_choices|as_crispy_field }}
                        {% include 'prompt/partials/prompt_tagified_textarea.html' %}
                        {{ form.template|as_crispy_field }}
                        {{ form.dataset_subset }}
                        {{ form.text_direction }}
                    </div>
                    <div class="template-result hidden rounded" id="templateResultContainer">
                        <div class="close-btn" id="closeTemplateResult">✖</div>
                        <div id="mergeTemplateResult"></div>
                    </div>
                </div>
                <input type="hidden" name="merge_template" id="mergeTemplateInput" value="false">
                <div class="text-end">
                    <button type="button" class="btn btn-outline-primary" id="applyButton">
                        Apply Template
                        <span id="apply-spinner" class="spinner-border spinner-border-sm apply-spinner" role="status" aria-hidden="true"></span>
                    </button>
                </div>
                {% if form.instance.reviewable %}
                    <hr>
                    <div class="row">
                        <div class="row">
                            {{ form.submitter_comment|as_crispy_field }}
                        </div>
                        <div class="row my-4">
                            <div class="col col-2">
                                {{ form.submitter_decision|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-2">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
