{% extends "base/base.html" %}
{% load static %}
{% block main_content %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="mb-0">PromptLab Prompts List</h2>
            {% if user.is_superuser %}
                <a href="{% url 'prompt:hf_sync' %}" class="btn btn-primary">
                    <i class="fas fa-sync-alt me-2"></i>Sync with Hugging Face
                </a>
            {% endif %}
        </div>

        <div id="user-prompts-list-table">
            {% include 'prompt/partials/user_prompts_list_table.html' %}
        </div>
    </div>
{% endblock %}
