<!-- Modal -->
<div class="modal fade modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Prompt Review History</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for action in review_actions %}
          <div class="row">
            <p>
              <b>Submitter:</b> {{action.submitter}}
            </p>
            <p>
              <b>Decision:</b> <u>{{action.get_submitter_decision_display}}</u>
            </p>
            <p>
              <b>Submitted on:</b> <u>{{action.taken_on}}</u>
            </p>
            {% if action.submitter_comment %}
              <p>
                <b>Comment:</b> {{action.submitter_comment}}
              </p>
            {% endif %}
          </div>
          <hr>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>