<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Task Name</th>
            <th scope="col">Datasets</th>
            <th scope="col">Prompts</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>
                    <a href="{% url 'prompt:dataset_list' %}?task_pk={{ task.pk }}">
                        <span class="task-name">{{ task.name }}</span>
                    </a>
                </td>
                <td>{{ task.datasets.count }}</td>
                <td>{{ task.prompts.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'base/pagination.html' %}
