<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Dataset</th>
            <th>Subset</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for prompt in prompts %}
            <tr>
                <td><a href="{% url 'prompt:prompt_update' prompt.dataset.pk prompt.pk %}">{{ prompt.name }}</a></td>
                <td>{{ prompt.dataset }}</td>
                <td>{{ prompt.subset }}</td>
                <td>{{ prompt.status }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan=4 class="text-center">
                    <span class="text-muted" >No prompts has been entered yet</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'base/pagination.html' with target_id="user-prompts-list-table" %}